
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    padding: 15px;
}




.day-img {
    
    width: 150px;
    height: auto;
}



.day {
    border: 1px solid black;
    margin: 1rem;
}


/* .today-wrapper {
    margin: 0;
} */


/* Media query for small devices (e.g., screens less than 600px wide) */
@media (max-width: 600px) {
    /* Adjust the font size for the h2 element */
    .main-wrapper h2 {
        font-size: 1.2rem; /* You can adjust the size as needed */
    }

    /* Adjust the overall text size */
    .main-wrapper {
        width: 63%;
        font-size: 0.9rem; /* You can adjust the size as needed */
    }

    .day-img {
    
        width: 100px;
        height: auto;
        /* margin: 0; */
    }

}