.app-container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}





.content {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
