.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  border: 1px solid black;
  width: 100%;
}

header {
  width: 30%;

}



.content {
  display: flex;
  flex-grow: 1;
 
  width: 100%;
}

.content > :first-child {
  flex-grow: 2; 
}

.content > :last-child {
  flex-grow: 1;
}
