/* aside.css */
aside {
    border-left: 1px solid #ddd;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}



.wrapper p {
    margin: 8px 0;
    font-size: 14px;
    color: #666;
}

.wrapper p:last-child {
    margin-top: 20px;
    font-style: italic;
    color: #999;
    
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    aside {
        width: 28%;
        border-left: none;
      padding: 8px;
    }
 h3 {
    font-size: 13px;
 }

 h4 {
    font-size: 13px;
 }
    .wrapper {
        width: 100%;
    }
}
